---
const today = new Date()
---

<footer class='flex flex-col justify-center items-center w-full px-16 my-14 h-28 border-t-2'>
	<ul class='pt-10 mb-8 text-center'>
		<li>Andres Parra - 1152185</li>
		<li>Mauricio Di Donato - 1152186</li>
		<li>Alessandro Daniele - 1152195</li>
	</ul>

	<p>&copy; {today.getFullYear()} Portafolio AyD. Todos los derechos reservados.</p>
</footer>
