---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Equipo'>
	<TitlePage title='Equipo' />

	<div class='flex gap-10'>
		<div class='max-w-xs'>
			<img src='https://avatars.githubusercontent.com/u/120739623?v=4' class='rounded-full mb-4' />
			<h3 class='text-lg font-bold text-center'>Andres Alfonso Parra Garzon - 1152185</h3>
		</div>
		<div class='max-w-xs'>
			<img src='https://avatars.githubusercontent.com/u/127999342?v=4' class='rounded-full mb-4' />
			<h3 class='text-lg font-bold text-center'>Mauricio Di Donato Sanchez - 1152186</h3>
		</div>
		<div class='max-w-xs'>
			<img src='https://avatars.githubusercontent.com/u/114622930?v=4' class='rounded-full mb-5' />
			<h3 class='text-lg font-bold text-center'>Alessandro Umberto Daniele Saltarin - 1152195</h3>
		</div>
	</div>
</BaseLayout>
